.selected
{
    color: green;
    font-size: large;
    font-weight: bold;
}

.nav
{
max-width: 700px;    
background-color: grey; 
margin: auto;
/*padding-top: 25px;*/
}

body
{
  background-image: url("img/colorfulguitar.jpg");
  background-size: cover;
  background-color: black;  
  color: white;
  margin: 25px;
}

li
{
  display: inline;
}

.card
{
  background-color: grey;
  border-color: white;
}

.home{
    border-color: white;
}


