.selected
{
    color: green;
    font-size: large;
    font-weight: bold;
}

body
{
  background-color: black;
  background-image: url("img/colorfulguitar.jpg");  
  color: white;
  margin: 25px;
}

li
{
  display: inline;
}

.card
{
  background-color: grey;
  border-color: white;
}

.home{
    border-color: white;
}


